$main-color: #24292E;

.navbar-only-logo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: $main-color;

    .inner {
        display: flex;
        align-items: center;
        padding: 12px;
    }

    &__svglogo-container {
        margin-right: 40px;
        display: flex;
        align-items: center;
    }
}