$color-selected: #009989;

.login-register-container {
    // outline: 2px solid green;
    width: 50%;
    margin: 50px auto;
}

.options {
    display: flex;
    cursor: pointer;

    &__login {
        width: 100%;
        padding: 10px 0;

        // Por el momento
        border-bottom: 4px solid #CACACA;
    }

    &__register {

        width: 100%;
        padding: 10px 0;
        border-bottom: 4px solid #CACACA;
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        text-align: center;
        text-transform: uppercase;
    }

    .selected {
        border-bottom-color: $color-selected;
    }
}

// Estilos del formulario

.form-container {
    margin-top: 20px;
}

.form {
    &__input-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 25px;
    }

    &__submit-button {
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        font-weight: 600;
        line-height: 24px;
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    &__label {
        color: #454C52;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 20px;
    }

    &__input {
        padding: 10px;
        line-height: 1.5rem;
        border: 1px solid #454C52;
        border-radius: 8px;
    }

    &__warning {
        font-size: 0.8rem;
        // border-bottom-right-radius: 8px;
        // border-bottom-left-radius: 8px;
        border-radius: 8px;
        color: #ba2828;
    }
}

input.ng-invalid.ng-touched {
    border-left: 5px solid rgb(180, 0, 0);
    /* red */
}

input.ng-valid.ng-touched[required] {
    border-left: 5px solid green;
    /* red */
}

.button--disabled {
    opacity: 0.5;

}


@media screen and (max-width: 1000px) {

    .login-register-container {
        // outline: 2px solid green;
        width: 80%;
        margin: 50px auto;
    }

    .options {

        &__title {
            font-size: 1rem;
            text-transform: unset;
        }
    }

    .form-container {
        margin-top: 20px;
    }

    .form {
        &__input-container {
            grid-template-columns: 1fr;
        }
    }
}