.footer {
    background-color: #24292E;
    color: white;

    padding: 2rem;

    a, p {
        color: white;
    }

    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-inner {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        gap: 30px;
    }
}


@media screen and (max-width: 1000px) {
    ul {
        flex-direction: column;
        gap: 10px !important;
        align-items: center;
    }

    .footer {
        z-index: 99;
    }
}