$main-color: #24292E;

.main-navbar {
    background-color: $main-color;

    p,
    input {
        color: white;
        white-space: nowrap;
    }

    .inner {
        display: flex;
        align-items: center;
        padding: 12px;
    }

    &__svglogo-container {
        margin-right: 40px;
        display: flex;
        align-items: center;
    }

    &__input-container {
        position: relative;
        width: 100%;
        margin-right: 20px;

        &__input {
            width: 100%;
            padding: 13px;
            padding-left: 50px;
            color: #3C3C43 !important;
        }

        svg {
            position: absolute;
            fill: #3C3C43;
            opacity: 0.6;
            width: 20px;
            left: 16px;
            top: calc(50% - 10px);
        }
    }

    &__linkslist {
        margin-left: auto;
        display: flex;
        // align-items: center;
        gap: 30px;
        height: 40px;

        &__item a {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 5px;
        }
    }
}