<section class="container carrito-body">
  <h1 class="carrito-body__title">Carrito de compras:</h1>
  <div class="carrito-body__main">
    <ul class="products__list">
      <li class="product-card">
        <div class="product-card__img-container">
          <div class="product-card__img-wraper">
            <img class="product-card__img" src="https://m.media-amazon.com/images/I/91TvVQS7loL.jpg" alt="cover" />
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__info">
            <h3 class="product-card__title">El principito</h3>
            <p class="product-card__autor">Autor: Saint-Exepéry, Antonio</p>
            <p class="product-card__price">S/ 70</p>
          </div>
          <div class="buttons">
            <button class="buttons__button">-</button>
            <button class="buttons__amount">1</button>
            <button class="buttons__button">+</button>
          </div>
        </div>
      </li>
      <li class="product-card">
        <div class="product-card__img-container">
          <div class="product-card__img-wraper">
            <img class="product-card__img" src="https://m.media-amazon.com/images/I/91TvVQS7loL.jpg" alt="cover" />
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__info">
            <h3 class="product-card__title">El principito</h3>
            <p class="product-card__autor">Autor: Saint-Exepéry, Antonio</p>
            <p class="product-card__price">S/ 70</p>
          </div>
          <div class="buttons">
            <button class="buttons__button">-</button>
            <button class="buttons__amount">1</button>
            <button class="buttons__button">+</button>
          </div>
        </div>
      </li>
      <li class="product-card">
        <div class="product-card__img-container">
          <div class="product-card__img-wraper">
            <img class="product-card__img" src="https://m.media-amazon.com/images/I/91TvVQS7loL.jpg" alt="cover" />
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__info">
            <h3 class="product-card__title">El principito</h3>
            <p class="product-card__autor">Autor: Saint-Exepéry, Antonio</p>
            <p class="product-card__price">S/ 70</p>
          </div>
          <div class="buttons">
            <button class="buttons__button">-</button>
            <button class="buttons__amount">1</button>
            <button class="buttons__button">+</button>
          </div>
        </div>
      </li>
      <li class="product-card">
        <div class="product-card__img-container">
          <div class="product-card__img-wraper">
            <img class="product-card__img" src="https://m.media-amazon.com/images/I/91TvVQS7loL.jpg" alt="cover" />
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__info">
            <h3 class="product-card__title">El principito</h3>
            <p class="product-card__autor">Autor: Saint-Exepéry, Antonio</p>
            <p class="product-card__price">S/ 70</p>
          </div>
          <div class="buttons">
            <button class="buttons__button">-</button>
            <button class="buttons__amount">1</button>
            <button class="buttons__button">+</button>
          </div>
        </div>
      </li>
      <li class="product-card">
        <div class="product-card__img-container">
          <div class="product-card__img-wraper">
            <img class="product-card__img" src="https://m.media-amazon.com/images/I/91TvVQS7loL.jpg" alt="cover" />
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__info">
            <h3 class="product-card__title">El principito</h3>
            <p class="product-card__autor">Autor: Saint-Exepéry, Antonio</p>
            <p class="product-card__price">S/ 70</p>
          </div>
          <div class="buttons">
            <button class="buttons__button">-</button>
            <button class="buttons__amount">1</button>
            <button class="buttons__button">+</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="resume">
      <h3 class="resume__title">Libros(2)</h3>
      <div class="resume__total-price">
        <p class="resume__total">Total:</p>
        <p class="resume__price">S/ 10</p>
      </div>
      <button class="resume__buy">Realizar compra</button>
    </div>
  </div>
</section>
