<section class="container miscompras">
  <ul class="compras-list">
    <li class="compra-card">
      <h2 class="compra-card__title">Compra Online</h2>
      <h2 class="compra-card__title">Número de compra: 28</h2>
      <ul class="compra-card__booklist">
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
      </ul>
    </li>
    <li class="compra-card">
      <h2 class="compra-card__title">Compra Online</h2>
      <h2 class="compra-card__title">Número de compra: 28</h2>
      <ul class="compra-card__booklist">
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
      </ul>
    </li>
    <li class="compra-card">
      <h2 class="compra-card__title">Compra Online</h2>
      <h2 class="compra-card__title">Número de compra: 28</h2>
      <ul class="compra-card__booklist">
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
      </ul>
    </li>
    <li class="compra-card">
      <h2 class="compra-card__title">Compra Online</h2>
      <h2 class="compra-card__title">Número de compra: 28</h2>
      <ul class="compra-card__booklist">
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
        <li class="book-details">
          <div class="book-details__img-container">
            <div class="book-details__img-wraper">
              <img class="book-details__img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846" alt="" class="book-details__img" />
            </div>
          </div>
          <div class="book-details__info-container">
            <p class="book-details__info-line">Id: 56</p>
            <p class="book-details__info-line">Fecha de compra: 23-12-23</p>
            <p class="book-details__info-line">Título: EL principito</p>
            <p class="book-details__info-line">Autro: La fe lo es todo</p>
            <p class="book-details__info-line book-details__info-line--price">
              S/ 70
            </p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
