<section class="container details">
  <main class="bookhero">
    <div class="bookhero__img-container">
      <img
        class="bookhero__img"
        src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg"

        alt="cover"
      />
    </div>
    <div class="bookhero__info-container">
      <h1 class="bookhero__title">El principito</h1>
      <p class="bookhero__info">Autor: Pedrito Navaja y Juanito Alimaña</p>
      <p class="bookhero__info">
        Editorial: Salamandra Infantil
      </p>
      <div class="dividerline"></div>
      <h4 class="bookhero__price">Precio: S/ 70</h4>
      <button class="bookhero__button">
        <img src="./assets/minicart.svg" alt="login icon" />
        Añadir al carrito
      </button>
    </div>
  </main>
  <div class="dividerline"></div>
  <div class="moreinformation">
    <h2>Información adicional del Libro</h2>
    <p class="moreinformation__textinfo">
      <strong>Descripción</strong><br />Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Reprehenderit, dignissimos? Ipsum, veritatis.
      Consequatur praesentium repellendus maxime rerum ipsam at tempora
      obcaecati corrupti quas dolor, eligendi dolores beatae amet. Commodi,
      minima!
    </p>
    <p class="moreinformation__textinfo">
      <strong>Cantidad de Páginas:</strong> 93
    </p>
    <p class="moreinformation__textinfo">
      <strong>Editorial</strong> Salamandra Infantil
    </p>
    <p class="moreinformation__textinfo">
      <strong>ISBN</strong> 09871029837018923
    </p>
    <p class="moreinformation__textinfo">
      <strong>Autor</strong> Coronel Leoncio Prado
    </p>
    <p class="moreinformation__textinfo">
      <strong>Fecha de publicación</strong> 2023
    </p>
  </div>
</section>
