<div
  class="books-grid"
  [ngClass]="'books-grid--' + gridConfig?.columnsNumber + 'columns'"
>
  <div class="books-grid__item" *ngFor="let lib of libros! | paginate : config" data-aos="fade-up">
    <a [href]="'booksdetails/' + lib.idLibro">
      <div class="books-grid__info-container">
        <div class="books-grid__image-container">
          <img [src]="lib.imagen" alt="Portada del libro" />
        </div>
        <p class="books-grid__info-container__title">{{ lib.titulo }}</p>
        <p class="books-grid__info-container__author">{{ lib.autor }}</p>
        <p class="books-grid__info-container__price">S/ {{ lib.precio }}</p>
      </div>
    </a>
  </div>

  <!-- Ejemplo de item -->
  <!-- <div class="books-grid__item">
            <a href="#">
                <div class="books-grid__info-container">
                    <div class="books-grid__image-container">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-book-cover-design-template-ea06579b69a398ba7d4fc845e80fcd66_screen.jpg?ts=1673708846"
                            alt="Portada del libro">
                    </div>
                    <p class="books-grid__info-container__title">Warrior</p>
                    <p class="books-grid__info-container__author">Nicolás Maquiavelo</p>
                    <p class="books-grid__info-container__price">S/ 40</p>
                </div>
            </a>
        </div> -->
</div>

<pagination-template
  class="pagination-container"
  #p="paginationApi"
  [id]="config.id!"
  (pageChange)="config.currentPage = $event"
  data-aos="fade-up"
>
  <div class="pagination-buttons">
    <div class="pagination-buttons__previous">
      <a
        class="pagination-button"
        [class.disabled]="p.isFirstPage()"
        (click)="p.previous()"
      >
        <img
          class="pagination-button__img"
          src="./assets/arrow-navigation.svg"
          alt=""
        />
      </a>
    </div>

    <div
      class="pagination-buttons__number"
      *ngFor="let page of p.pages"
      [class.current]="p.getCurrent() === page.value"
    >
      <!-- Not currents -->
      <a
        class="pagination-button"
        (click)="p.setCurrent(page.value)"
        *ngIf="p.getCurrent() !== page.value"
      >
        <span>{{ page.label }}</span>
      </a>

      <!-- Current -->
      <div
        class="pagination-button pagination-button--current"
        *ngIf="p.getCurrent() === page.value"
      >
        <span>{{ page.label }}</span>
      </div>
    </div>

    <div class="pagination-buttons__next">
      <a
        class="pagination-button"
        [class.disabled]="p.isLastPage()"
        (click)="p.next()"
      >
        <img
          class="pagination-button__img"
          src="./assets/arrow-navigation.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</pagination-template>
