.search {
    padding-top: 1.25rem;
    position: relative;

    &__main {
        display: flex;
    }

    &__right {
        width: 100%;
    }

    &__left {
        width: 40%;

        padding: 0 0.625rem;
    }

    &__left-button-mobile {
        display: none;
    }

    min-height: 900px;
}

.filters {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        padding: 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__button {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        flex: 1;

        &--secondary {
            background-color: rgb(255, 255, 255);
            color: #1A1D1F;
            border: 2px solid #1A1D1F;
        }
    }
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.filter {
    outline: 2px solid #1a1d1f3f;
    border-radius: 8px;

    &__input-container {
        padding: 10px;
    }

    &__name {
        padding: 10px;
        background-color: #1A1D1F;
        color: white;
        border-radius: 8px;
    }

    &__options-list {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__input-text {
        padding: 5px;
        margin: 10px 0;
        margin-bottom: 0;
        width: 100%;
    }

    &__option {
        display: flex;
        justify-content: space-between;
    }

    &__option-check {
        width: 30px;
    }
}

.notfound {
    padding: 5.25rem;
    text-align: center;

    &__title {
        line-height: 1;
    }

    &__text {
        margin-top: 20px;
    }
}

.show-filters-button {
    display: none;
}


@media screen and (max-width: 1000px) {
    .search__left[show-left-filters="false"] {
        transform: translateX(-100%);
    }

    .search__left[show-left-filters="true"] {
        transform: translateX(0);
    }

    .search {
        &__left {
            display: flex;
            flex-direction: column;
        }

        &__left-button-mobile {
            display: unset;
            padding: 10px 15px;
            margin-left: auto;
        }
    }

    .search__left {
        position: absolute;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.916);
        width: 100%;
        max-width: 400px;
        padding: 40px;
        inset: 0;
        transition: all 0.3s ease;
    }

    .show-filters-button {
        display: unset;
        padding: 10px 15px;
        background-color: white;
        color: black;
        border: 2px solid #1A1D1F;
        margin-left: 25px;
    }
}