<div class="container search">
    <h1 class="search__title">Búsqueda: EL Principito</h1>
    <div class="search__main">
        <div class="search__left">
            <form class="filters">
                <h4 class="filters__title">Filtros</h4>
                <ul class="filters__list">
                    <div class="filter filter--dropdown">
                        <p class="filter__name">Categoria</p>
                        <ul class="filter__options-list">
                            <li class="filter__option">
                                <label class="filter__option-name">Terror</label>
                                <input class="filter__option-check" type="checkbox" id="categoria-terror">
                            </li>
                            <li class="filter__option">
                                <label class="filter__option-name">Acción</label>
                                <input class="filter__option-check" type="checkbox" id="categoria-accion">
                            </li>
                        </ul>
                    </div>
                    <div class="filter filter--input">
                        <p class="filter__name">Autor</p>
                        <input type="text" placeholder="Ingrese el nombre">
                    </div>
                    <div class="filter filter--dropdown">
                        <p class="filter__name">Editorial</p>
                        <ul class="filter__options-list">
                            <li class="filter__option">
                                <label class="filter__option-name">Editorial 1</label>
                                <input class="filter__option-check" type="checkbox" id="editorial-1">
                            </li>
                            <li class="filter__option">
                                <label class="filter__option-name">Editorial 2</label>
                                <input class="filter__option-check" type="checkbox" id="editorial-2">
                            </li>
                        </ul>
                    </div>
                </ul>
                <button class="filters__button" type="submit" id="filters-submit">Aplicar</button>
            </form>
        </div>
        <div class="search__right">
            <!-- TODO: Hacer un componentes de books-grid para evitar tener el mismo código en search-body y hombe-boy -->
            <app-books-grid [libros]="libros" [gridConfig]="booksGridConfig"></app-books-grid>
        </div>
    </div>
</div>