.main {
    background: linear-gradient(180deg, rgb(202, 226, 224) 0%, rgba(0, 212, 255, 0) 100%);
    //border-bottom: 1px solid #1a1c1f;
}

.hero {
    // background-color: #009989;
    color: white;
    padding: 26px 60px;

    display: flex;
    width: 100%;
    justify-content: space-between;

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-align: left;
            letter-spacing: 0.5px;
            font-size: 2.5rem;
            font-weight: 400;
            font-style: normal;
            line-height: 40px;
            margin-bottom: 10px;
            color: #1a1c1f;
        }

        p {
            text-align: left;
            letter-spacing: 0.5px;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 27px;
            color: #2A2C31;
        }

        button {
            transition: all 0.1s ease;
            position: relative;
            bottom: 0;

            width: min-content;
            white-space: nowrap;
            padding: 16px 24px;
            border-radius: 8px;
            background-color: #2A2C31;
            color: white;
            display: flex;
            gap: 7px;

            img {
                position: relative;
                top: 2px;
            }
        }

        button:hover {
            bottom: 2px
        }

        img {
            width: 15px;
        }
    }

    &__right-svg {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__hero-svg {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;

        &__info {

            h1 {
                text-align: center;
                font-size: 2rem;
            }

            p {
                text-align: center;
                font-size: 1.3rem;
            }

            button {
                margin: 0 auto;
            }
        }
    }
}

.category-slider {
    padding: 28px 0;

    h1 {
        margin-bottom: 28px;
    }

    button {
        padding: 15px;
        border-radius: 100%;

        transition: all 0.1s ease;
        position: relative;
        bottom: 0;
    }

    button:hover {
        bottom: 4px;
    }

    &__slider-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 67px;
    }

    &__list-container {
        width: 100%;

        ul {
            display: flex;
            gap: 52px;
            width: 100%;

            li {
                position: relative;
                ;
                width: 100%;
                padding-bottom: 26%;
            }
        }

    }

    &__item-div {
        position: absolute;
        inset: 0;

        border-radius: 8px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 24px;
        font-weight: bold;
        overflow: hidden;

        background-color: #000000BB;

        p {
            z-index: 2;
            color: white;
        }

        img {
            position: absolute;
            z-index: -1;
            width: 100%;
        }
    }
}

.title-mainpage {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    padding: 20px;
    color: #1a1c1f;

    border-bottom: 2px solid rgb(205, 205, 205);
}