.hero {
    background-color: #009989;
    color: white;
    padding: 26px 60px;

    display: flex;
    justify-content: space-between;

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            letter-spacing: 0.5px;
            font-size: 40px;
            font-weight: 400;
            font-style: normal;
            line-height: 40px;
            margin-bottom: 10px;
        }

        p {
            letter-spacing: 0.5px;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 27px;
        }

        button {
            position: relative;

            width: min-content;
            white-space: nowrap;
            padding: 16px 24px;
            border-radius: 8px;
            background-color: #2A2C31;
            color: white;
            display: flex;
            gap: 7px;

            img {
                position: relative;
                top: 2px;
            }
        }

        img {
            width: 15px;
        }
    }
}

.category-slider {
    padding: 28px 0;

    h1 {
        margin-bottom: 28px;
    }

    button {
        padding: 15px;
        border-radius: 100%;
    }

    &__slider-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 67px;
    }

    &__list-container {
        width: 100%;

        ul {
            display: flex;
            gap: 52px;
            width: 100%;

            li {
                position: relative;
                ;
                width: 100%;
                padding-bottom: 26%;
            }
        }

    }

    &__item-div {
        position: absolute;
        inset: 0;

        border-radius: 8px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 24px;
        font-weight: bold;
        overflow: hidden;

        background-color: #000000BB;

        p {
            z-index: 2;
            color: white;
        }

        img {
            position: absolute;
            z-index: -1;
            width: 100%;
        }
    }
}