#page-container {
    position: relative;
    min-height: 100svh;
}

#content-wrap {
    padding-top: 68px;
    padding-bottom: 160px;
}

@media screen and (max-width: 1000px) {
    #content-wrap {
        padding-bottom: 180px;
        padding-top: 119px;
    }
}