/*Estilos globales*/

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'Inter', sans-serif;

    // MODO DEBUG
    // outline: 2px solid green;
    // background-color: #0080001F;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

input {
    border-radius: 8px;
}

button {
    border: none;
}

input:focus {
    outline: none;
}

button {
    width: min-content;
    white-space: nowrap;
    border-radius: 8px;
    background-color: #2A2C31;
    color: white;
}

button:hover {
    cursor: pointer;
}

.animated-hover {
    transition: all 0.1s ease;
    position: relative;
    bottom: 0;
}

.animated-hover:hover {
    bottom: 2px;
}